@font-face {
    font-family: 'kakao';
    src: url('../css/kakao_fonts/KakaoRegular.ttf');
}

.background1 {
    background-color: #031d60;
    color: white;
    min-height: 100vh;
    height: max-content;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}


.background table {
    width: 100%;
    display: inside;
    border-collapse: collapse;
}

th, td {
    padding: 1%;
}

.col1 { width: 10%; }
.col2 { width: 20%; }
.col3 { width: 5%; }
.col4 { width: 5%; }
.col5 { width: 5%; }
.col6 { width: 5%; }
.col7 { width: 10%}
