@font-face {
    font-family: 'kakao';
    src: url('../css/kakao_fonts/KakaoRegular.ttf');
}

.background {
    background-color: #A0D3F9;
    height: 100vh;
    padding-top: 10vh;
}

.cont1 {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.cont2 {
    width: 40%;
    display: inline-block;
    margin: auto;
    margin-top: 5vh;
}