@font-face {
    font-family: 'kakao';
    src: url('../css/kakao_fonts/KakaoRegular.ttf');
}

.background {
    background-color: #031d60;
    height: 100vh;
    padding-top: 10vh;
}

.home-card {
    width: 80%;
    color: black;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background : rgba(255, 255, 255, 1);
    text-align: center;
    margin: auto;
}

.cont1 {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.cont2 {
    width: 40%;
    display: inline-block;
    margin: auto;
    margin-top: 5vh;
}