@font-face {
    font-family: 'kakao';
    src: url('../css/kakao_fonts/KakaoRegular.ttf');
}

.body {
    padding-top: 100px;
    font-family:"Noto Sans KR";
}
.sub_title {
    text-align : center;
    text-decoration: overline;
    font-size: 40px;
    font-weight: bold;
}
.vis {
    text-align : center;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    font-size: 80px;
    
    
}

.kpntitle{
    position: relative;
    top: px;
    left: 0%;
}


.pagination {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    width: 100%;
  }

.center {
    position: absolute;
    top: 50%;
    left: 40%;
    line-height:20px;
    transform: translate(-50%, -50%);
  }
  
.english {
  
    position: relative;
    left: 47%;
    line-height:35px;
    
  }


.visimg {
    width:100%;
    object-fit:cover;

}
.logo {
    font-size: 60px;
    font-weight: bold;
    color : yellow;
    width: 20px;
    height : 20px; 
    margin: auto;
}
.pp{
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.log img {
    width: 50px;
    height: 50px;

}