@font-face {
    font-family: 'kakao';
    src: url('../css/kakao_fonts/KakaoRegular.ttf');
}
h1 {
    color: black;
  }

label {
    color: black;
}

.signupinput {
    color: black;
}
  
  
.signup-card {
    width: 80vw;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background : rgba(255, 255, 255, 1);
    text-align: center;
    margin: auto;
}
.content-center{
    margin-left: 10%;
    align-items: center;
    justify-content: center;

}
.nickname{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
}

.genderagegrid{
    
    display: grid;
    padding-bottom : 50%;
    
    grid-template-columns: repeat(4,100px) ;
    grid-auto-rows: 30px 30px;
    line-height:60px;
    
}


.jobgrid{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4,100px) ;
    grid-auto-rows: 30px 30px;
    line-height:20px;
    
}

.signuptext{
 
    text-align: left;
    color: black;
    padding-left: 30%;
    padding-right: 30%;
    word-spacing: 0.2em;
}

.logeSignup{
    margin-left: 20px;
    
}

.signupbutton {

    background-color: #ffeb3b;
    
    border: none; 
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 100px;
    height: 30px;
  }


  .genderagegrid label input[type="radio"] {
    margin-right: 5px; /* adjust as needed */
  }

  .jobgrid label input[type="radio"] {
    margin-right: 5px; /* adjust as needed */
  }

.signupinput{
    margin-left: 30px;
}


.submitButtonContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: calc(100% - 2rem); /* 높이를 설정하고, 적절한 값을 빼줍니다. */
    margin-top: 1rem; /* 상단 여백을 설정하여 필요한 간격을 확보합니다. */
  }